/*
text-overflow: ellipsis; POUR LES 3 PETIT POINTS
*/
html
{
height:100%;
}
a
{
text-decoration:none;
color:white;
}
#wrap 
{
min-height: 100%;
margin-bottom:-150px;
}
.corps
{
clear:left;
width:1024px;
margin:auto;
overflow:auto;
padding-bottom:150px;
}
.main
{
position:relative;
left:10px;
}


#securite
{
position:fixed;
width: 300px; 
height: 450px;
margin-left:-150px; /* moitié de la largeur pour centrer */
margin-top:150px;
left:50%;
background-color:#86c4d1;
z-index: 60;
}
#fond_overlay
{
display:none;
padding : 15px;
position:fixed;
top: 0; 
left: 0;
width: 100%; 
height: 100%;
text-align: center; /* Pour centrer l'image que l'overlay contiendra */
z-index: 50;
/* Ci-dessous, j'applique un background de couleur noire et d'opacité 0.6. Il s'agit d'une propriété CSS3. */
background-image:url(images/fond_clair.png);
}
#overlay_vert, #overlay_rouge, #overlay_bleu
{
display:none;
position:fixed;
right:0px;
left:0px;
width:100%; 
height:50px;
line-height:50px;
top:50%;
margin-top:-25px; /* moitié de la hauteur pour centrer */
text-align:center;
z-index: 60;
background-color:#89cf9d;
font-size:large;
}
#overlay_vert, .overlay_fin
{
background-color:#89cf9d;
}
#overlay_rouge
{
background-color:#ca5151;
}
#overlay_bleu
{
background-color:#448593;
}
.overlay_fin
{
position:fixed;
width:100%; 
height:100px;
line-height:100px;
top:50%;
margin-top:-50px; /* moitié de la hauteur pour centrer */
text-align:center;
z-index: 60;
font-size:x-large;
font-weight:bolder;
text-align:center;
}
.overlay_fin span
{
border:2px solid #528661;
padding:10px;
}
.overlay_repondre_message
{
display:none;
position:fixed;
left:0px;
right:0px;
width:100%;
height:180px;
top:50%;
margin-top:-90px; /* moitié de la hauteur pour centrer */
z-index:60;
background-color:#86c4d1;
}
#centre_element
{
position:fixed;
width:305px;
height:180px;
top:50%;
left:50%;
margin-top:-90px; /* moitié de la hauteur pour centrer */
margin-left:-152px; /* moitié de la hauteur pour centrer */
z-index:60;
background-color:#7ebcc9;
}
.overlay_repondre_message p
{
text-align:center;
border-bottom:1px dashed white;
padding-bottom:10px;
padding-top:10px;
margin-top:0px;
overflow: hidden;
text-overflow: ellipsis;
-o-text-overflow: ellipsis; /* pour Opera 9 */
white-space: nowrap;
}
.overlay_repondre_message a
{
color:white;
}
.overlay_repondre_message a:hover, .overlay_repondre_message a:active
{
color:#163941;
}
.overlay_repondre_message textarea
{
width:250px;
height:80px;
margin-left:25px;
color:grey;
}
.overlay_repondre_message input
{
cursor:pointer;
width:256px;
margin-left:25px;
background-color:#86c4d1;
color:white;
border:1px solid #448593;
}
.overlay_repondre_message input:hover, .overlay_repondre_message input:active
{
background-color:#448593;
}








.inscription, .jeu, .defi, .compte,.jeu_annexe,.defi_annexe,.compte_annexe,
.esquive,.lettre,.cible, .jeu_esquive, .jeu_lettre, .jeu_cible, .profil
{
float:left;
width:300px;
height:450px;
margin-top:30px;
transition: all .5s;
}
.inscription:hover, .jeu:hover, .defi:hover, .compte:hover,
.inscription:active, .jeu:active, .defi:active, .compte:active
{
background-image:url(images/fond_clair20.png);
margin-top:40px;
}
/*
.bas_inscription,.bas_securite, .bas_esquive,.haut_jeu_esquive
{
background-color:#448593;
}
.bas_compte,.compte_annexe
{
background-color:#bfa13a;
}
.bas_jeu,.jeu_annexe, .bas_cible, .haut_jeu_cible
{
background-color:#528661;
}
.bas_defi,.defi_annexe
{
background-color:#a36b4c;
}
.bas_lettre,.haut_jeu_lettre
{
background-color:#ca5151;
}
*/
.inscription, .compte, .esquive, .jeu_esquive
{
margin-left:19px;
background-color:#86c4d1;
border:1px solid #448593;
}
.jeu_esquive, .jeu_lettre, .jeu_cible
{
margin-left:22px;
}
.compte, .compte_deroule, .bas_compte_annexe
{
background-color:#f7d354;
border:1px solid #bfa13a;
}
.texte_question
{
float:left;
width:190px;
margin-left:55px;
margin-top:90px;
}
.jeu, .defi, .jeu_annexe, .defi_annexe, .lettre, .cible
{
margin-left:40px;
}
.jeu,.bas_jeu_annexe, .cible, .jeu_cible
{
background-color:#89cf9d;
border:1px solid #528661;
}
.defi,.bas_defi_annexe
{
background-color:#de976f;
border:1px solid #a36b4c;
}
.lettre, .jeu_lettre
{
background-color:#ff7e7e;
border:1px solid #ca5151;
}
.haut_inscription,.haut_jeu,.haut_defi,.haut_compte,.haut_securite, 
.haut_esquive, .haut_lettre , .haut_cible, .haut_esquive_tournoi,
.haut_lettre_tournoi, .haut_cible_tournoi
{
width:300px;
height:350px;
}
.haut_esquive_tournoi
{
background-image:url(images/esquive_tournoi.png);
}
.haut_esquive
{
background-image:url(images/esquive.png);
}
.haut_lettre_tournoi
{
background-image:url(images/lettre_tournoi.png);
}
.haut_lettre
{
background-image:url(images/lettre.png);
}
.haut_cible_tournoi
{
background-image:url(images/cible_tournoi.png);
}
.haut_cible
{
background-image:url(images/cible.png);
}
.contient_bouton
{
background-image:url(images/fond_clair20.png);
width:300px;
height:350px;
}
.entrainement1_esquive, .entrainement1_lettre, .entrainement1_cible
{
float:left;
width:150px;
text-align:center;
padding-top:10px;
padding-bottom:10px;
margin-top:135px;
margin-left:75px;
}
.tournoi_esquive, .tournoi_lettre, .tournoi_cible, .tournoi_esquive2, .tournoi_lettre2, .tournoi_cible2
{
float:left;
width:150px;
text-align:center;
padding-top:10px;
padding-bottom:10px;
margin-top:10px;
margin-left:75px;
}
.entrainement2_esquive, .entrainement2_lettre, .entrainement2_cible
{
float:left;
width:150px;
text-align:center;
padding-top:10px;
padding-bottom:10px;
margin-top:155px;
margin-left:75px;
}
.tournoi_esquive2, .tournoi_lettre2, .tournoi_cible2
{
background-color:#bfbfbf;
border:1px solid grey;
}
.entrainement1_esquive, .entrainement2_esquive, .tournoi_esquive
{
background-color:#448593;
border:1px solid #366b76;
}
.entrainement1_esquive:hover,.entrainement1_esquive:active,
.entrainement2_esquive:hover,.entrainement2_esquive:active,
.tournoi_esquive:hover,.tournoi_esquive:active
{
background-color:#366b76;
}
.entrainement1_lettre, .entrainement2_lettre, .tournoi_lettre
{
background-color:#ca5151;
border:1px solid #aa4343;
}
.entrainement1_lettre:hover,.entrainement1_lettre:active,
.entrainement2_lettre:hover,.entrainement2_lettre:active,
.tournoi_lettre:hover,.tournoi_lettre:active
{
background-color:#aa4343;
}
.entrainement1_cible, .entrainement2_cible, .tournoi_cible
{
background-color:#528661;
border:1px solid #426c4e;
}
.entrainement1_cible:hover,.entrainement1_cible:active,
.entrainement2_cible:hover,.entrainement2_cible:active,
.tournoi_cible:hover,.tournoi_cible:active
{
background-color:#426c4e;
}
.bas_inscription, .bas_jeu, .bas_defi, .bas_compte,.bas_jeu_annexe,.bas_defi_annexe,
.bas_compte_annexe,.bas_securite,.bas_esquive, .bas_lettre, .bas_cible
{
width:300px;
height:100px;
}
.bas_inscription2
{
width:300px;
height:100px;
}
.bas_inscription, .bas_inscription2,.bas_securite, .bas_esquive,.haut_jeu_esquive
{
background-color:#448593;
}
.bas_inscription,.bas_securite, .bas_esquive,.haut_jeu_esquive
{
background-color:#448593;
}
.bas_compte,.compte_annexe
{
background-color:#bfa13a;
}
.bas_jeu,.jeu_annexe, .bas_cible, .haut_jeu_cible
{
background-color:#528661;
}
.bas_defi,.defi_annexe
{
background-color:#a36b4c;
}
.bas_lettre,.haut_jeu_lettre
{
background-color:#ca5151;
}
.erreur
{
clear:left;
margin-left:22px;
color:#ca5151;
font-size:small;
height:22px;
padding-top:40px;
}
.copyright, .social, .projet
{
float:left;
color:#282828;
margin-top:10px;
}
.social, .projet
{
margin-left:80px;
margin-top:13px;
}
/* PAGE COMPTE */
.bas_jeu_annexe:hover, .bas_defi_annexe:hover, .bas_compte_annexe:hover,
.bas_jeu_annexe:active, .bas_defi_annexe:active, .bas_compte_annexe:active
{
background-image:url(images/fond_sombre.png);
}
.jeu_annexe,.defi_annexe,.compte_annexe, .compte_deroule
{
float:left;
width:300px;
height:140px;
margin-top:50px;
}
.compte_deroule
{
margin-left:22px;
}
.erreur_compte
{
width:489px;
height:30px;
float:right;
margin-right:22px;
color:#ca5151;
font-size:x-small;
}
.bloc_compte_gauche
{
width:487px;
margin-top:30px;
padding-bottom:30px;
margin-left:22px;
border-right:1px dashed grey;
border-left:2px solid #f7d354;
clear:left;
float:left;
background-color:#e8e8e8;
}
.cadi,.reglage
{
display:block;
float:left;
margin-top:50px;
margin-left:30px;
}
.bloc_kp, .bloc_argent
{
float:right;
width:230px;
margin-right:20px;
margin-top:20px;
}
.kp_choice1,.kp_choice2,.kp_choice3,.kp_choice4
{
float:left;
margin-left:10px;
margin-top:30px;
width:100px;
height:30px;
border:1px solid #bfa13a;
background-color:#e8e8e8;
}
.kp_choice3,.kp_choice4
{
height:60px;
}
.kp_choice1 p ,.kp_choice2 p ,.kp_choice3 p ,.kp_choice4 p
{
height:30px;
line-height:30px;
margin-top:0px;
}
.p_kp
{
float:left;
background-color:#f7d354;
border-right:1px solid #bfa13a;
padding: 0px 5px;
}
.p_argent
{
float:right;
color:grey;
margin-right:5px;
}
.p_ajout
{
float:left;
width:100px;
position:relative;
bottom:16px;
background-color:#89cf9d;
text-align:center;
}
.carte
{
display:block;
float:left;
margin-left:40px;
margin-top:5px;
}
#annonce_argent, #annonce_change
{
float:left;
width:440px;
border-bottom:1px solid grey;
font-size:large;
margin-right:30px;
margin-left:40px;
margin-top:50px;
padding-left:5px;
color:grey;
}
.bloc_argent
{
margin-right:20px;
width:220px;
margin-top:0px;
}
.bloc_argent input
{
margin-top:5px;
}
.virement,.virement2, .soumettre, .soumettre2
{
width:210px;
height:30px;
margin-top:20px;
background-color:#f7d354;
border:1px solid #bfa13a;
color:white;
}
.virement, .soumettre
{
cursor:pointer;
}
.virement:hover, .virement:active, .soumettre:hover, .soumettre:active
{
background-color:#bfa13a;
}
.virement2, .soumettre2
{
text-align:center;
opacity:0.7;
}
.bloc_compte_droite
{
width:488px;
margin-top:30px;
margin-bottom:30px;
padding-bottom:39px;
margin-right:22px;
float:right;
border-right:2px solid #f7d354;
background-color:#e8e8e8;
color:grey;
}
.bloc_modifier
{
clear:left;
float:left;
margin-left:40px;
margin-top:75px;
}
.modifier
{
margin-left:193px;
color:grey;
}
.modifier:hover, .modifier:active
{
color:#a38931;
}
.formulaire_password, .formulaire_email
{
margin-left:165px;
}
.enregistrer
{
width:390px;
height:30px;
margin-top:26px;
background-color:#f7d354;
border:1px solid #bfa13a;
color:white;
cursor:pointer;
}
.enregistrer:hover, .enregistrer:active
{
background-color:#bfa13a;
}
.enregistrer_question
{
width:190px;
height:30px;
margin-top:26px;
background-color:#448593;
border:none;
color:white;
cursor:pointer;
}
.enregistrer_question:hover, .enregistrer_question:active
{
background-color:#32646f;
}
/* ELEMENT TOURNOI */
#tournoi_kp
{
border:1px solid black;
height:35px;
width:300px;
position:relative;
bottom:390px;
left:500px;
text-align:center;
font-size:2.7em;
line-height:50px;
}
#tournoi_esquive_bloc1,#tournoi_lettre_bloc1,#tournoi_cible_bloc1
{
width:300px;
height:60px;
font-size:large;
}
#tournoi_esquive_bloc1 p, #tournoi_lettre_bloc1 p, #tournoi_cible_bloc1 p
{
float:left;
border-bottom:1px solid white;
margin-left:20px;
margin-top:25px;
width:260px;
padding-bottom:10px;
}
#tournoi_esquive_bloc1 span, #tournoi_lettre_bloc1 span, #tournoi_cible_bloc1 span
{
padding:5px;
}
#tournoi_esquive_bloc1 span
{
color:#448593;
border: 1px dashed #448593;
}
#tournoi_lettre_bloc1 span
{
color:#ca5151;
border: 1px dashed #ca5151;
}
#tournoi_cible_bloc1 span
{
color:#528661;
border: 1px dashed #528661;
}

#tournoi_esquive_bloc1 span
{
color:#448593;
}
#tournoi_esquive_bloc2,#tournoi_lettre_bloc2,#tournoi_cible_bloc2
{
width:300px;
height:245px;
}
.affichage_classement_tournoi
{
display:table;
width:280px;
margin:auto;
margin-top:15px;
border-collapse:collapse;
}
.affichage_classement_tournoi td 
{ 
height:25px;
border:1px dotted white;
font-size:small;
vertical-align:middle;
text-align:center;
}
/* PAGE ESQUIVE */
.haut_jeu_esquive, .haut_jeu_lettre, .haut_jeu_cible
{
width:300px;
height:35px;
border:none;
color:white;
cursor:pointer;
font-size:large;
line-height:35px;
text-align:center;
}
.haut_jeu_esquive:hover, .haut_jeu_esquive:active
{
background-color:#366b76;
}
.haut_jeu_lettre:hover, .haut_jeu_lettre:active
{
background-color:#aa4343;
}
.haut_jeu_cible:hover, .haut_jeu_cible:active
{
background-color:#426c4e;
}
.bas_score
{
width:300px;
height:83px;
border-top:1px dashed white;
}
.bas_score p
{
font-size:0.75em;
text-align:center;
font-weight:bolder;
}
.canvas_esquive, .canvas_lettre, .canvas_cible,
.canvas_tournoi_esquive,.canvas_tournoi_lettre,.canvas_tournoi_cible,
.canvas_defi_esquive,.canvas_defi_lettre,.canvas_defi_cible
{
float:left;
margin-left:40px;
margin-top:30px;
}
.canvas_esquive, .canvas_lettre, .canvas_cible
{
border-bottom:1px dashed grey;
border-top:1px dashed grey;
}
.canvas_defi_esquive
{
background-image:url(images/background_defi_esquive.png);
}
.canvas_defi_lettre
{
background-image:url(images/background_defi_lettre.png);
}
.canvas_defi_cible
{
background-image:url(images/background_defi_cible.png);
}
.canvas_tournoi_esquive
{
background-image:url(images/background_tournoi_esquive.png);
}
.canvas_tournoi_lettre
{
background-image:url(images/background_tournoi_lettre.png);
}
.canvas_tournoi_cible
{
background-image:url(images/background_tournoi_cible.png);
}
.canvas_esquive
{
background-image:url(images/background_esquive.png);
}
.canvas_lettre
{
background-image:url(images/background_esquive.png);
}
.canvas_cible
{
background-image:url(images/background_cible.png);
}
/* PAGE PROFIL SESSION*/
.profil
{
margin-left:22px;
background-color:#dedede;
float:left;
width:240px;
height:450px;
margin-top:30px;
} 
.image_profil
{
display:block;
width:160px;
height:180px;
margin:auto;
margin-top:20px;
border-bottom:1px dashed #282828;
}
label{
    cursor:pointer;
}
.modifier_image
{
width:120px;
opacity:0.4;
margin-top:0px;
padding-top:3px;
padding-bottom:3px;
text-align:center;
color:#282828;
background-image:url(images/fond_sombre.png);
border:1px solid grey;
margin:auto;
margin-top:15px;
}
.modifier_image:hover,.modifier_image:active
{
color:black;
opacity:1;
}
.modifier_image input {
  display:none;
}
.information_profil
{
width:160px;
word-wrap:break-word;
margin:auto;
color:#282828;
font-size:x-large;
}
.identifiant_profil
{
display:block;
text-align:center;
border-bottom:1px dashed #282828;
padding:10px;
}
.profil_esquive, .profil_lettre, .profil_cible
{
float:left;
width:230px;
margin-top:30px;
background-color:#dedede;
}
.profil_esquive
{
margin-left:50px;
background-color:#a6cad1;
}
.profil_lettre
{
background-color:#f8b0b0;
}
.profil_cible
{
background-color:#aaceb4;
}


.enregistrer_image
{
width:160px;
height:30px;
margin-top:20px;
border:none;
cursor:pointer;
opacity:0.5;
color:#282828;
background-image:url(images/fond_sombre.png);
border:1px solid grey;
}
.enregistrer_image:hover, .enregistrer_image:active
{
color:black;
opacity:1;
}
#information_profil_session
{
width:200px;
margin:auto;
word-wrap:break-word;
margin-top:20px;
color:#282828;
font-size:large;
text-align:center;
}
#profil_defi
{
border-bottom:1px solid grey;
}
#compteur_amis
{
margin-top:0px;
padding-top:5px;
padding-bottom:5px;
background-color:#89cf9d;
font-size:x-large;
text-align:center;
width:200px;
margin:auto;
border: 1px solid #528661;
}
#compteur_amis_autre
{
float:left;
height:98px;
line-height:98px;
width:160px;
font-size:x-large;
text-align:center;
border-right: 1px dashed grey;
background-color:#c7c7c7;
}
#bloc_amis_session
{
width:200px;
height:190px;
margin:auto;
border-bottom:1px dashed grey;
border-left:1px dashed grey;
border-right:1px dashed grey;
}
/* PAGE PROFIL AUTRE*/
.profil_autre
{
margin-left:22px;
background-color:#dedede;
float:left;
width:450px;
height:350px;
margin-top:50px;
} 
.profil_bloc1, #profil_bloc2, #profil_bloc3, .profil_bloc4, .profil_bloc5,
#profil_bloc6, #profil_bloc7, .profil_bloc_supprimer
{
float:left;
width:125px;
height:350px;
margin-left:50px;
margin-top:50px;
}
.profil_bloc_supprimer
{
background-color:#ff7e7e;
}
.profil_bloc_supprimer
{
background-image:url(images/supprimer_grand.png);
}
.profil_bloc1,.profil_bloc4,.profil_bloc5
{
background-color:#89cf9d;
}
.profil_bloc4
{
background-image:url(images/attente_grand.png);
}
.profil_bloc5
{
background-image:url(images/ami_grand.png);
}
.profil_bloc1
{
background-image:url(images/ajouter_grand.png);
}
.profil_bloc1:hover, .profil_bloc1:active
{
background-color:#528661;
}
#profil_bloc2, #profil_bloc7
{
background-image:url(images/message_grand.png);
background-color:#86c4d1;
}
#profil_bloc2:hover, #profil_bloc2:active
{
background-color:#448593;
}
#profil_bloc3, #profil_bloc6
{
background-image:url(images/defi_grand.png);
background-color:#de976f;
}
#profil_bloc3:hover, #profil_bloc3:active, #profil_bloc6:hover, #profil_bloc6:active
{
background-color:#a36b4c;
}
.image_profil_autre
{
display:block;
float:left;
width:160px;
height:120px;
margin:auto;
margin-top:20px;
}
.information_profil_autre
{
float:right;
width:265px;
height:230px;
word-wrap:break-word;
margin-top:20px;
margin-right:10px;
color:#282828;
font-size:x-large;
}
.information_profil_autre p
{
text-align:center;
font-size:large;
}
#bloc_rang
{
float:left;
height:110px;
width:160px;
}
#bloc_amis_autre
{
float:left;
width:450px;
height:98px;
border-top:1px dashed grey;
}
#profil_message
{
float:right;
margin-right:22px;
margin-top:50px;
width:450px;
height:350px;
}
#profil_message img
{
display:block;
float:left;
}
#profil_message p
{
margin-top:0px;
padding-bottom:20px;
color:grey;
font-size:large;
border-bottom:dashed 1px grey;
text-align:center;
}
#profil_message div
{
width:350px;
height:350px;
float:right;
}
#profil_message textarea
{
margin-top:15px;
color:grey;
font-size:1.2em;
font-weight:bolder;
}
#profil_message input
{
cursor:pointer;
color:white;
margin-top:35px;
width:350px;
height:30px;
border:1px solid #448593;
background-color:#86c4d1;
}
#profil_message input:hover, #profil_message input:active
{
background-color:#448593;
}
/* PAGE DEFI */
.corps_defi
{
float:right;
margin-right:22px;
width:640px;
height:450px;
margin-top:50px;
background-image:url(images/fond_sombre.png);
}
#intro_all
{
margin-left:22px;
margin-right:22px;
color:grey;
margin-top:25px;
border-bottom:1px solid grey;
}
#intro_all a
{
color:#ca5151;
}
#intro_all a:hover, #intro_all a:active
{
color:#2c2c2c;
}
#defi_all_demandes
{
margin-top:18px;
width:350px;
margin-left:8px;
padding-right:20px;
float:left;
border-right:1px dashed grey;
padding-bottom:15px;
}
#defi_all_cours
{
margin-top:10px;
width:600px;
margin-right:22px;
float:right;
padding-bottom:15px;
}
.defi_bloc1
{
clear:left;
float:left;
margin-top:30px;
width:610px;
border-right:1px solid grey;
margin-left:7px;
padding-bottom:15px;
background-color:#e8e8e8;
}
#defi_recherche
{
margin-left:15px;
width:178px;
margin-top:0px;
color:grey;
}
.bloc_joueur
{
float:left;
width:180px;
height:80px;
border:1px solid grey;
margin-top:23px;
margin-left:15px;
background-color:#f2f2f2;
}
.defi_connecte
{
float:left;
width:30px;
height:80px;
border-right:1px solid grey;
}
.defi_information1
{
float:left;
width:100px;
height:80px;
text-align:center;
}
.defi_information1 p 
{
margin-top:5px;
line-height:20px;
color:grey;
font-size:small;
overflow: hidden;
-o-text-overflow: ellipsis; /* pour Opera 9 */
text-overflow: ellipsis; /* pour le reste du monde */
}
.defi_defier
{
float:left;
width:40px;
height:80px;
border-right:8px solid #a36b4c;
border-left:1px solid #a36b4c;
background-color:#de976f;
}
.defi_defier:hover, .defi_defier:active
{
background-color:#ebb08f;
}
.defi_bloc2
{
float:right;
margin-top:30px;
margin-right:10px;
width:200px;
border-left:1px dashed grey;
}
.contient_cours
{
float:left;
margin-left:10px;
width:190px;
height:130px;
}
.argent_droite
{
float:right;
height:83px;
width:35px;
background-color:#f7d354;
margin-top:23px;
line-height:25px;
text-align:center;
}
.defi_cours, .defi_demande
{
float:left;
width:150px;
border:1px solid grey;
color:grey;
padding:0px;
margin-top:0px;
}
.defi_demande{
margin-top:	14px;
}
.defi_cours{
margin-top:23px;
}
.defi_acceder
{
float:left;
width:180px;
padding:0px;
text-align:center;
font-size:small;
background-color:#c5c5c5;
padding:5px;
}
.defi_acceder:hover,.defi_acceder:active
{
background-color:#9f9f9f;
color:white;
}
.defi_demande
{
margin-left:17px;
}
.cours_bloc1
{
height:30px;
width:150px;
border-bottom:1px dashed grey;
}
.defi_eclair
{
margin-top:3px;
margin-left:10px;
}
.cours_bloc1 p
{
margin-right:10px;
text-align:right;
margin-top:7px;
font-size:small;
width:70px;
float:right;
overflow: hidden;
text-overflow: ellipsis;
-o-text-overflow: ellipsis; /* pour Opera 9 */
white-space: nowrap;
}
.cours_bloc2, .cours_bloc3, .cours_bloc4, .cours_bloc_victoire, .cours_bloc_defaite,
.cours_bloc_aucun
{
height:45px;
width:150px;
margin-top:5px;
text-align:center;
line-height:45px;
font-weight:bolder;
}
.cours_bloc_victoire
{
background-color:#89cf9d;
color:#528661;
}
.cours_bloc_defaite
{
background-color:#ff9393;
color:#ca5151;
}
.cours_bloc_aucun
{
background-color:#c5c5c5;
color:#ca5151;
}
.cours_bloc2
{
background-image:url(images/jeu_defi_esquive.png);
color:#448593;
}
.cours_bloc3
{
background-image:url(images/jeu_defi_lettre.png);
color:#ca5151;
}
.cours_bloc4
{
background-image:url(images/jeu_defi_cible.png);
color:#528661;
}
.defi_demande p
{
margin-left:45px;
margin-top:7px;
font-size:small;
}
.defi_argent
{
float:right;
height:30px;
width:118px;
background-color:#f7d354;
border-left:2px dashed white;
color:white;
line-height:30px;
text-align:center;
}
.defi_accepter, .defi_refuser
{
margin-top:2px;
height:20px;
width:150px;
}
.defi_accepter
{
background-image:url(images/defi_accepter.png);
background-color:#89cf9d;
}
.defi_accepter:hover, .defi_accepter:active
{
background-color:#528661;
}
.defi_refuser
{
background-image:url(images/defi_refuser.png);
background-color:#ff7e7e;
}
.defi_refuser:hover, .defi_refuser:active
{
background-color:#ca5151;
}
.defi_bloc3
{
float:right;
margin-top:30px;
width:190px;
}
.defi_complete
{
clear:left;
float:left;
margin-top:30px;
width:550px;
border-right:1px solid grey;
margin-left:7px;
background-color:#e8e8e8;
color:grey;
padding: 0px 30px 30px 30px;
}
.defi_complete form p
{
font-size:small;
margin-top:0px;
}
.defi_complete form span
{
color:#474747;
font-size:medium;
}
#game_choice label
{
margin-left:115px;
}
#game_choice input
{
margin-left:123px;
}
#money_choice label
{
color:white;
background-color:#f7d354;
border:1px solid #bfa13a;
padding:3px;
}
#money_choice input
{
margin-left:35px;
}
#défier
{
width:550px;
background-color:#de976f;
text-align:center;
height:30px;
border:none;
color:white;
cursor:pointer;
margin-top:30px;
border:1px solid #a36b4c;
}
#défier:hover, #défier:active
{
background-color:#a36b4c;
}
#defi_afficher1,#defi_afficher2
{
height:30px;
line-height:30px;
float:left;
text-align:center;
border:1px solid grey;
background-color:#9acbd5;
opacity:0.6;
}
#defi_afficher1
{
width:188px;
margin-left:10px;
margin-top:37px;
}
#defi_afficher2
{
width:150px;
margin-left:17px;
margin-top:32px;
}
#defi_afficher1:hover,#defi_afficher1:active,
#defi_afficher2:hover,#defi_afficher2:active
{
background-color:#5f9ba8;
opacity:1;
}
/* PAGE CIBLE */
.score_classement1, .score_classement2
{
float:left;
width:275px;
padding-left:25px;
border-bottom:1px dashed white;
font-size:large;
}
.contient_affichage
{
height:240px;
width:250px;
margin:auto;
margin-top:80px;
}
.affichage_score
{
display:table;
width:250px;
margin:auto;
margin-top:80px;
}
.affichage_score td
{
height:33px;
text-align:right;
}

.affichage2_score
{
text-align:center;
font-size:x-large;
color:#282828;
}
/* FICHIER CLASSEMENT CIBLE */
.affichage_classement
{
display:none;
width:280px;
margin:auto;
margin-top:75px;
border-collapse:collapse;
}
.affichage_classement td 
{ 
height:37px;
border:1px dotted white;
font-size:small;
vertical-align:middle;
text-align:center;
}
/* PAGE RECHERCHE */



/* PAGE MESSAGE */
#message_gauche
{
float:left;
margin-top:30px;
padding-bottom:20px;
width:400px;
}
#message_droite
{
float:right;
margin-top:30px;
padding-bottom:20px;
width:620px;
border-left:1px solid grey;
}
.lien_message
{
clear:left;
color:grey;
}
.lien_message:hover, .lien_message:active
{
color:#2a2a2a;
}
.demande_bloc3
{
float:left;
width:50px;
height:120px;
background-color:#89cf9d;
}
.demande_bloc3
{
background-image:url(images/accepter.png);
}
.demande_bloc3:hover, .demande_bloc3:active
{
background-color:#528661;
}
.demande_bloc4,.demande_bloc6
{
float:left;
margin-left:1px;
width:50px;
height:120px;
background-image:url(images/refuser.png);
background-color:#ff7e7e;
}
.demande_bloc4:hover, .demande_bloc4:active
{
background-color:#ca5151;
}
.bloc_message
{
float:left;
width:272px;
border:1px solid #448593;
margin-left:25px;
background-color:#86c4d1;
word-wrap:break-word;
}
.message_bloc1
{
width:272px;
height:30px;
background-color:#448593;
}
.message_bloc1 p
{
float:left;
margin-left:30px;
margin-top:5px;
}
.message_text
{
margin-left:20px;
margin-right:20px;
margin-top:20px;
}
.message_repondre
{
margin-top:-10px;
height:25px;
width:35px;
float:right;
background-image:url(images/repondre1.png);
}
.message_repondre:hover, .message_repondre:active
{
background-image:url(images/repondre2.png);
}
.message_clear
{
float:left;
width:620px;
height:20px;
}
.message_supprimer
{
width:20px;
height:20px;
margin-top:3px;
margin-right:3px;
float:right;
background-image:url(images/supprimer2.png);
}
.message_supprimer:hover,.message_supprimer:active
{
background-image:url(images/supprimer1.png);
}
/* FICHIER CHARTE */
#corps_charte
{
width:800px;
margin:auto;
border:1px solid grey;
color:grey;
padding:10px;
margin-top:30px;
}
/* PAGE DEFI JEU */
#jeu_defi_intro
{
float:right;
height:35px;
width:640px;
background-image: url(images/fond_sombre.png);
margin-right:20px;
position:relative;
bottom:451px;
}
#jeu_tournoi_intro{
background-color:#777777;
}
#defi_jeu_identifiant1, #defi_jeu_identifiant2
{
padding:10px;
border:1px dashed white;
width:105px;
}
#defi_jeu_identifiant1{
float:left;
}
#defi_jeu_identifiant2{
float:right;
text-align:right;
}
.jeu_defi_eclair
{
margin-top:15px;
margin-left:12px;
}
.defi_contient_affichage
{
height:225px;
width:300px;
margin:auto;
margin-top:20px;
}
#jeu_argent
{
height:30px;
background-color:#f7d354;
text-align:center;
line-height:30px;
border-top:1px solid #f2f2f2;
border-bottom:1px solid #f2f2f2;
}
.defi_affichage_score1, .defi_affichage_score2
{
display:table;
width:145px;
}
.defi_affichage_score1
{
border-right:1px dashed white;
float:left;
padding-left:10px;
padding-right:13px;
}
.defi_affichage_score1 td
{
height:25px;
line-height:25px;
}
.defi_affichage_score2
{
border-left:1px dashed white;
float:right;
padding-left:20px;
padding-right:10px;
}
.defi_limitation_identifiant1,.defi_limitation_identifiant2
{
display:block;
margin-top:5px;
width:70px; 
overflow: hidden;
text-overflow: ellipsis;
-o-text-overflow: ellipsis; /* pour Opera 9 */
white-space: nowrap;
}
.defi_limitation_identifiant1
{
float:right;
margin-left:4px;
}
.defi_limitation_identifiant2
{
float:left;
margin-right:4px;
}
#fin_defi
{
clear:left;
font-size:x-large;
position:relative;
top:235px;
line-height:50px;
right:35px;
text-align:center;
font-weight:bolder;
}
#somme_defi
{
clear:left;
font-size:2em;
position:relative;
bottom:120px;
line-height:50px;
right:35px;
text-align:center;
font-weight:bolder;
}