/*
text-overflow: ellipsis; POUR LES 3 PETIT POINTS
*/
.nbr{
	font-family:arial;
}
/* -------------------------------------------------------------------------- */
/* OVERLAY */
#securite{
	position:fixed;
	width: 300px; 
	height: 450px;
	margin-left:-150px; /* moitié de la largeur pour centrer */
	margin-top:150px;
	left:50%;
	background-color:#86c4d1;
	z-index: 60;
}
#fond_overlay{
	display:none;
	padding : 15px;
	position:fixed;
	top: 0; 
	left: 0;
	width: 100%; 
	height: 100%;
	text-align: center; /* Pour centrer l'image que l'overlay contiendra */
	z-index: 50;
	/* Ci-dessous, j'applique un background de couleur noire et d'opacité 0.6. Il s'agit d'une propriété CSS3. */
	background:rgba( 63 , 94 , 105 , 0.8);	
}
#overlay_inscription{
	display:none;
	position:fixed;
	width:500px;
	height:500px;
	background-color:green;
	z-index:100;
}
#overlay_vert, #overlay_rouge, #overlay_bleu{
	display:none;
	position:fixed;
	right:0px;
	left:0px;
	width:100%; 
	height:50px;
	line-height:50px;
	top:50%;
	margin-top:-25px; /* moitié de la hauteur pour centrer */
	text-align:center;
	z-index: 60;
	font-size:1em;
}
#overlay_vert, .overlay_fin{
	background-color:#89cf9d;
}
#overlay_rouge{
	background-color:#ee5e5e;
	border-bottom:5px solid #b34949;
}
#overlay_bleu{
	background-color:#448593;
}
.overlay_fin{
	position:fixed;
	width:100%; 
	height:100px;
	line-height:100px;
	top:50%;
	margin-top:-50px; /* moitié de la hauteur pour centrer */
	text-align:center;
	z-index: 60;
	font-weight:bolder;
	text-align:center;
}
.overlay_fin span{
	border:2px solid #528661;
	padding:10px;
}
.overlay_repondre_message{
	display:none;
	position:fixed;
	left:0px;
	right:0px;
	width:100%;
	height:180px;
	top:50%;
	margin-top:-90px; /* moitié de la hauteur pour centrer */
	z-index:60;
	background-color:#86c4d1;
}
.overlay_repondre_message p{
	text-align:center;
	border-bottom:1px dashed white;
	padding-bottom:10px;
	padding-top:10px;
	margin-top:0px;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis; /* pour Opera 9 */
	white-space: nowrap;
}
.overlay_repondre_message a{
	color:white;
}
.overlay_repondre_message a:hover, .overlay_repondre_message a:active{
	color:#163941;
}
.overlay_repondre_message textarea{
	width:250px;
	height:80px;
	margin-left:25px;
	color:grey;
}
.overlay_repondre_message input{
	cursor:pointer;
	width:256px;
	margin-left:25px;
	background-color:#86c4d1;
	color:white;
	border:1px solid #448593;
}
.overlay_repondre_message input:hover, .overlay_repondre_message input:active{
	background-color:#448593;
}
/* -------------------------------------------------------------------------- */
/* GENERAL */
html{
	height:100%;
}
body{
	height:100%;
	color : white;
	margin:0px;
	font-size: medium;
	font-family: Lucida Console;
	background-color:#eae5b8;
}
.contener_total{
	width:100%;
}
.contener_980{
	width:980px;
	margin:auto;
}
/* background-moving */
#background1 {
	background-image: ;
}
#background2 {
	background-image: ;
}
#background3 {
	background-image: ;
}
.centre_image45{
	height:45px;
	width:45px;
	line-height:45px;
	text-align:center;
}
.centre_image45 img{
	vertical-align:middle;
	position:relative;
	bottom:1px;
}
.centre_image30{
	height:30px;
	width:30px;
	line-height:30px;
	text-align:center;
}
.centre_image30 img{
	vertical-align:middle;
}
.centre_image120{
	margin-top:0px;
	height:120px;
	width:120px;
	margin-top:10px;
	line-height:120px;
	text-align:center;
	margin:auto;
}
.centre_image120 img{
	vertical-align:middle;
	position:relative;
	bottom:1px;
}
.image_defaut_profil{
	display:block;
	width:120px;
	margin:auto;
}
.mouse-bg {
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	position: fixed;
	z-index: -1;
}
a{
	text-decoration:none;
	color:white;
}
.fond_container{
	margin-top:50px;
	background-color: rgba(0, 0, 0, 0.08);
	width:980px;
	padding-bottom:30px;
}
#wrap {
	min-height: 100%;
	margin-bottom:-150px;
}
.corps{
	clear:left;
	width:1000px;
	margin:auto;
	overflow:auto;
	padding-bottom:50px;
}
.fonce{
	background-image:url(images/fond_sombre.png);
}
.main{
	position:relative;
	left:10px;
}
.centre_image30{
	height:30px;
	width:30px;
	line-height:30px;
	text-align:center;
}
.centre_image30 img{
	vertical-align:middle;
	position:relative;
	bottom:1px;
}
.centre_image120{
	margin-top:0px;
	height:120px;
	width:120px;
	margin-top:10px;
	line-height:120px;
	text-align:center;
	margin:auto;
}
.centre_image120 img{
	vertical-align:middle;
	position:relative;
	bottom:1px;
}
.image_defaut_profil{
	display:block;
	width:120px;
	margin:auto;
}
#centre_element{
	position:fixed;
	width:305px;
	height:180px;
	top:50%;
	left:50%;
	margin-top:-90px; /* moitié de la hauteur pour centrer */
	margin-left:-152px; /* moitié de la hauteur pour centrer */
	z-index:60;
	background-color:#7ebcc9;
}
/* -------------------------------------------------------------------------- */
/* HEADER */
header{
	height:110px;
	width:100%;
	background-color:#d2cda8; /* BACKGROUND DU HEADER BOTTOM */
	border-bottom:1px solid #677591;
}
#contient_header_top{
	height:70px;
	width:100%;
	background-color:#eae5b8;
}
#header_top{
	width:980px;
	height:70px;
	line-height:70px;
	margin:auto;	
}
#kap_logo{
	float:left;
	background:url(images/kap_logo_lg.png)  no-repeat;
	width:180px;
	height:52px;
	margin-top:10px;
}
#top_haut{
	float:right;
	height:45px;
	line-height:45px;
	width:790px;
	border-bottom:1px solid #d2cda8;
	margin-top:0px;
	text-align:right;
}
#top_haut input{
	border:1px solid #9b977c;
}
#top_haut img{
	vertical-align:middle;
}
#top_haut input{
	font-size:small;
	height:15px;
	width:200px;
}
#top_bas{
	width: 790px;
	height:24px;
	line-height:24px;
	clear:right;
	float:right;
	font-weight:bolder;
	font-size:0.7em;
	text-align:right;
	color:#9b977c;
}
#top_bas span:hover{
	text-decoration:underline;
}
.texte_bleu{
	color:#3f5e69;
}
.texte_rouge{
	color:#b75454;
}
#header_bottom{
	width:980px;
	height:50px;
	margin:auto;
}
/* -------------------------------------------------------------------------- */
/* HEADER DECONNECTE */
#kp_header_bottom{
	float:left;
	height:40px;
	line-height:40px;
	letter-spacing:1px;
}
#kp_header_bottom span {
	margin-left:15px;
	font-weight:bolder;
	font-size:1.3em;
	letter-spacing:10px;
	text-shadow: #726f5b 1px 1px, #726f5b -1px 1px, #726f5b -1px -1px, #726f5b 1px -1px;
	font-family:arial;
}
#kp_header_bottom  img {
	vertical-align:middle;
}
#contient_rebours,#contient_rebours2{
	float:right;
	height:40px;
	line-height:40px;
	font-size:1.3em;
	text-align:right;
	text-shadow: #726f5b 1px 1px, #726f5b -1px 1px, #726f5b -1px -1px, #726f5b 1px -1px;
	font-family:arial;
}
#contient_rebours{
	letter-spacing:14px;
}
.temps_lingots{
	display:block;
	float:right;
	margin-right:37px;
	border-left:1px dashed #726f5b;
	margin-top:3px;
	padding-left:5px;
}
#contient_rebours2{
	letter-spacing:11px;
}
/* -------------------------------------------------------------------------- */
/* HEADER CONNECTE */
.icone_header{
	float:left;
	margin-top:5px;
	width:35px;
	height:35px;
	transition:transform 0.5s;
}
.icone_marginleft{
	margin-left:30px;
}
#icone_parametre{
	background: url(images/icone_parametre.png) 0 0px;
}
#icone_parametre:hover, #icone_parametre:active{
	background: url(images/icone_parametre.png) 0 -35px;
	transform: rotate(180deg);
}
#icone_message{
	background: url(images/icone_message.png) 0 0px;
}
#icone_message:hover, #icone_message:active{
	background: url(images/icone_message.png) 0 -35px;
	transform: rotate(20deg);
}
#icone_defis{
	background: url(images/icone_defis.png) 0 0;
}
#icone_defis:hover, #icone_defis:active{
	background: url(images/icone_defis.png) 0 -35px;
	transform: rotate(20deg);;
}
#icone_jeux{
	background: url(images/icone_jeux.png) 0 0;
}
#icone_jeux:hover, #icone_jeux:active{
	background: url(images/icone_jeux.png) 0 -35px;
	transform: rotate(20deg);
}
#icone_accueil{
	background: url(images/icone_accueil.png) 0 0;
}
#icone_accueil:hover, #icone_accueil:active{
	background: url(images/icone_accueil.png) 0 -35px;
	transform: rotate(20deg);
}
#icone_recherche{
	display:block;
	float:left;
	margin-top:12px;
}
#recherche{
	margin-top:12px;
	/* WIDTH DANS LE HTML */
	height:20px;
	font-weight:bolder;
	color: grey;
}
#profil_header{
	float:left;
	height:40px;
	line-height:40px;
	width:170px;
	padding-right:20px;
}
#kp_connecte{
	float:left;
	height:40px;
	line-height:40px;
}
#kp_connecte img{
	vertical-align:middle;
}
.nbr_header{
	color:#706d59;
	font-weight:bolder;
}
#kp_connecte a:hover{
	text-decoration:underline;
	color:#706d59;
}
#rebours_co{
	float:right;
	text-align:right;
	height:40px;
	line-height:40px;
	width:235px;
	text-shadow: #726f5b 1px 1px, #726f5b -1px 1px, #726f5b -1px -1px, #726f5b 1px -1px;
	font-size:1.3em;
}
.compte_co{
	display:inline-block;
	letter-spacing:5px;
	font-family:arial;
}
/* -------------------------------------------------------------------------- */
/* FOOTER */
footer{
	margin-top:100px;
	height: 230px;
	width:100%;
}
#footer_mountains{
	background: url(images/footer_mountains.png) repeat-x;
	height:88px;
	width:100%;
}
#contient_footer_bottom{
	background-color:#3f5e69;
	width:100%;
	height:140px;
	border-top:5px solid #e0cc55;
}
#footer_bottom{
	clear:left;
	height:120px;
	width:1000px;
	margin:auto;
	padding-top:10px;
}
#copyright, #social, #projet, #footer_securite{
	float:left;
}
#copyright{
	margin-top:10px;
	height:30px;
	line-height:30px;
	font-size:small;
	letter-spacing:0.4px;
	width:295px;
}
#copyright img{
	vertical-align:middle;
}
#projet{
	margin-top:10px;
	width:260px;
	height:100px;
	padding-left: 40px;
	padding-right: 40px;
	border-left:1px solid white;
}
#projet p, #social p{
	margin-top:6px;
}
#projet span{
	color:white;
	word-wrap: break-word;
	font-size:x-small;
}
#social{
	margin-top:10px;
	width:100px;
	padding-left:40px;
	padding-right:40px;
	border-left:1px solid white;
	border-right:1px solid white;
}
.icone_social{
	width:40px;
	height:60px;
	float:left;
}
#footer_facebook{
	background: url(images/facebook.png) 0 0;
	transition: all 0.5s;
}
#footer_facebook:hover{
	background: url(images/facebook.png) 0 -60px;
}
#footer_twitter{
	margin-left:20px;
	background: url(images/twitter.png) 0 0;
	transition: all 0.5s;
}
#footer_twitter:hover{
	background: url(images/twitter.png) 0 -60px;
}
#footer_securite{
	width:140px;
	padding-left:40px;
}
#footer_paypal{
	width:140px;
	height:60px;
	float:left;
	background: url(images/footer_paypal.png) 0 0;
	transition: all 0.5s;
}
#footer_paypal:hover{
	background: url(images/footer_paypal.png) 0 -60px;
}
/* -------------------------------------------------------------------------- */
/* INDEX */
#bandeau_index,#bandeau_recherche{
	border-bottom:20px solid #e0cc55;
	background-color:#3f5e69;
	margin-top:0px;
	box-shadow: 2px 2px 7px #888888;
}
#bandeau_index{height:380px;}
#bandeau_recherche{padding-bottom:50px;}
#slogan{
	width:980px;
	height:60px;
	float:left;
	margin-top:30px;
	border-bottom:1px solid white;
}
#slogan p {margin-top:0px;width:600px;float:left;}
#slogan_span1{
	font-size:1.9em;
}
#slogan_span2{
	display:block;
	margin-top:10px;
	letter-spacing:1px;
}
.header_social{
	float:right;
	width:40px;
	height:60px;
}
#header_facebook{
	background: url(images/facebook.png) 0 0;
	transition: all 0.5s;
}
#header_facebook:hover{
	background: url(images/facebook.png) 0 -60px;
}
#header_twitter{
	background: url(images/twitter.png) 0 0;
	transition: all 0.5s;
	margin-right:1px;
}
#header_twitter:hover{
	background: url(images/twitter.png) 0 -60px;
}
.menu_index {
	width:310px;
	height:240px;
	margin-top:50px;
	overflow: hidden;
	float:left;
	position: relative;
}
.menu_index img{
	opacity:1;
	-webkite-opacity:1;
	-moz-opacity:1;
	-o-opacity:1;
	-ms-opacity:1;
	transition: all 0.4s ease-in-out; 
}
.menu_haut{
	width: 310px;
	height:180px;
	line-height:30px;
	position:absolute;
	top:0px;
	transition: all 0.4s ease-in-out; 
	opacity:0;
	border-bottom:8px solid #3f5e69;
	background-color:#3f5e69;
}
.menu_index:hover .menu_haut,
.menu_haut:hover{ 
	opacity:1;
}
.float_left{ 
	float:left;
}
#menu_haut_defis, #menu_haut_jeux,#menu_haut_boutique{
	height:70px;
	width:310px;
	margin-top:50px;
	background-color: rgba(202, 227, 236, 0.8);
	border-top-left-radius: 500px;
	border-bottom-left-radius: 400px;
	border-bottom-right-radius: 40px;
	border-top-right-radius: 40px;
}
#menu_haut_boutique{
	border-bottom:0px solid #e0cc55;
}
#menu_haut_jeux{
	border-bottom:0px solid #788371;
}
#menu_haut_defis{
	border-bottom:0px solid #f26060;
}
#menu_haut_inscription{
	background-color:#5d8981;
	width:306px;
}
.menu_bas{
	width: 310px;
	height:30px;
	line-height:30px;
	position:absolute;
	bottom:0px;
}
.menu_mot{
	letter-spacing:8px;
	text-align:center;
	margin-top:0px;
	transition: all 0.3s ease-in-out; 
	font-weight:bolder;
}
.menu_nbr{	
	height:70px;
	margin-top:0px;
	line-height:70px;
	width:230px;
	margin-left:80px;
	text-align:center;
	font-weight:bolder;
	font-size:x-large;
	color:#3f5e69;
}
.menu_nbr img{
	vertical-align:middle;
}
#nbr_inscription{
	color:#496b63;
}
#menu_jeux, #menu_defis, #menu_lettre, #menu_cible, .margin{
	margin-left:25px;
}
/* INSCRIPTION */
#texte_inscription{
	width:270px;
	height:100px;
	margin:auto;
}
#menu_haut_inscription p{
	display:inline;
}
#menu_haut_inscription input{
	width:235px;
	margin-top:7px;
	border-bottom:1px solid white;
	border-top:none;
	border-left:none;
	border-right:none;
	background-color:#5d8981;
	color:white;
}
#conditions{
	font-family: arial;
	color:#415f6a;
	font-size:x-small;
	font-weight:bolder;
	line-height:15px;
	margin-top:10px;
	margin-left:18px;
}
#valider_inscription{
	/* width dans le HTML */
	height:20px;
	margin-left:18px;
	margin-top:10px;
	border:none;
	color:white;
	cursor:pointer;
	background-color:#e27c3e;
	transition: all 0.5s;
	border:1px solid #a65b2e;
}
#valider_inscription:hover, #valider_inscription:active{
	background-color:#f8965a;
}
/* FIN INSCRIPTION */
#contener_chemin{
	position:relative;
	height:1184px;
	width:100%;
	margin-top:30px;
}
#chemin_index{
	height:1184px;
	width:740px;
	margin:auto;
	background-image: url(images/chemin.png);
}
.forme_chemin{
	width:100%;
	height:337px;
	position:absolute;
	z-index:1;
	opacity:0;
}
#forme1_chemin{
	top:0px;
}
#forme2_chemin{
	top:99px;
}
#forme3_chemin{
	top:322px;
}
#forme4_chemin{
	top:535px;
}
#forme5_chemin{
	top:755px;
}
#forme6_chemin{
	top:983px;
}
.image_forme{
	width:740px;
	margin:auto;
}
#image_forme1{
	height:206px;
	background-image: url(images/forme1_chemin.png);
}
#image_forme2{
	height:327px;
	background-image: url(images/forme2_chemin.png);
}
#image_forme3{
	height:324px;
	background-image: url(images/forme3_chemin.png);
}
#image_forme4{
	height:337px;
	background-image: url(images/forme4_chemin.png);
}
#image_forme5{
	height:338px;
	background-image: url(images/forme5_chemin.png);
}
#image_forme6{
	height:202px;
	background-image: url(images/forme6_chemin.png);
}
.bandeau_chemin_gauche, .bandeau_chemin_droite{
	position:absolute;
	width:100%;
	height:80px;
	z-index:10;
}
.bandeau_chemin_gauche:hover .chemin_texte_gauche{
	margin-left:280px;
}
.bandeau_chemin_droite:hover .chemin_texte_droite{
	margin-right:280px;
}
.chemin_texte{
	width:980px;
	margin:auto;
	line-height:20px;
	margin-top:20px;
}
.chemin_texte_gauche{
	margin-left:250px;
	transition: all 0.4s ease-in-out; 
}
.chemin_texte_droite{
	text-align:right;
	margin-right:250px;
	transition: all 0.4s ease-in-out; 
}
.chemin_texte1{
	color:#949174;
	font-size:1.3em;
	transition: all 0.4s ease-in-out; 
}
.chemin_texte2{
	display:block;
	font-size:0.9em;
	color:#a09d7d;
	transition: all 0.4s ease-in-out; 
}
.bandeau_chemin_gauche:hover .chemin_texte1,
.bandeau_chemin_droite:hover .chemin_texte1{
	color:#514f3f;
}
.bandeau_chemin_gauche:hover .chemin_texte2,
.bandeau_chemin_droite:hover .chemin_texte2{
	color:#76745d;
}
#bandeau1_chemin{
	top:0px;
}
#bandeau2_chemin{
	top:222px;
}
#bandeau3_chemin{
	top:443px;
}
#bandeau4_chemin{
	top:664px;
}
#bandeau5_chemin{
	top:883px;
}
#bandeau6_chemin{
	top:1104px;
}
/* 	INDEX PROFIL SESSION */
#index_profil_top{
	width:980px;
	height:200px;
}
#index_bloc1{
	float:left;
	width:180px;
	height:201px;
	border-right:1px solid #a4a084;
	color:#706d59;
}
#index_bloc1 img{
	margin-top:10px;
}
#index_bloc2{
	float:left;
	width:598px;
	height:160px;
	color:#706d59;
	border-bottom:1px solid #a4a084;
}
.sous_bloc2{
	float:left;
	width:598px;
	height:80px;
	line-height:80px;
}
#border_top{
	border-top:1px dashed #a4a084;
}
.sous_bloc2 img{
	vertical-align:middle;
}
.sous_bloc2 span{
	font-size:x-large;
	margin-left:25px;
}
.index_img_amis{
	float:left;
	margin-left:35px;
	margin-top:17px;
}
#index_information_profil{
	width:120px;
	margin:auto;
	text-align:center;
}
#index_information_profil span{
	display:block;
	margin-top:5px;
	font-size:large;
	padding-bottom:5px;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis; /* pour Opera 9 */
	white-space: nowrap;
}
#index_bloc3{
	float:right;
	width:200px;
	height:80px;
	text-align:center;
	line-height:80px;
	border-left:1px solid #a4a084;
	border-bottom:1px dashed #a4a084;
	font-family:arial;
	color:#706d59;
}
#index_bloc3 span, #index_bloc4 span{
	font-size:2em;
	vertical-align:middle;
}
#index_bloc4{
	float:right;
	clear:right;
	width:200px;
	height:79px;	
	text-align:center;
	line-height:79px;
	border-left:1px solid #a4a084;
	border-bottom:1px solid #a4a084;
	font-family:arial;
	color:#706d59;
}
#index_bloc5{
	height:40px;
	line-height:40px;
	width:980px;
	color:#706d59;
	font-size:small;
	clear:right;
	background-color: rgba(255, 255, 255, 0.8);
}
.bolder{
	font-weight:bolder;
	font-family:arial;
}
.session_jeux{
	float:left;
	width:310px;
	min-height:150px;
	background-color: rgba(0, 0, 0, 0.05);
	padding-bottom:20px;
	color:#706d59;
}
.session_jeu:hover{
	background-color: rgba(0, 0, 0, 0.0);
}
.nom_jeux{
	font-size:large;
	text-align:center;
	padding-top:20px;
	letter-spacing:2px;
}
.nom_jeux span{
	font-size:small;
	font-family:arial;
}
.index_menu_score p{
	border-top:1px solid #a4a084;
	margin-left:30px;
	margin-right:30px;
	padding-top:5px;
	margin-top:20px;
}
.profil_score{
	margin-top:20px;
	width:310px;
}
.profil_score table{
	width:250px;
	margin:auto;
}
table img{
	float:left;
}
table span{
	float:right;
}
.profil_score td{
	width:250px;
	letter-spacing:4px;
}
.padding{padding-bottom:20px;}
.grand{
	font-size:x-large;
	line-height:50px;
	background-color:rgba(255, 255, 255, 0.6);
	border:1px solid #a4a084;
}
.grand img{
	margin-top:10px;
}
.petit{line-height:25px;}
.petit img{
	margin-top:3px;
}
.aucun_index{
	margin-left:10px;
}
/* CLASSEMENT DANS PROFIL SESSION (INDEX) */
.affichage_classement_profil{
	width:250px;
	margin:auto;
	border-collapse:collapse;
}
.affichage_classement_profil td { 
	height:37px;
	border:1px dotted #a4a084;
	font-size:small;
	vertical-align:middle;
	text-align:center;
}
.clair{
	background-color:rgba(255, 255, 255, 0.6);
}

/* -------------------------------------------------------------------------- */
/* 	JEUX */
#menu_esquive{
	background: url(images/menu_esquive.png);
}
#menu_lettre{
	background: url(images/menu_lettre.png);
}
#menu_cible{
	background: url(images/menu_cible.png);
}
.informations_jeux{
	float:left;
	height:500px;
	width:310px;
	background-color: rgba(0, 0, 0, 0.05);
	transition:all 0.5s;
}
.informations_jeux:hover{
	background-color: rgba(0, 0, 0, 0.0);
}
.informations_jeux:hover .jeux_regles{
	color:#727059;
}
.informations_jeux:hover  h4{
	color:#5d5b4a;
}
#informations_lettre, #informations_cible,#session_lettre, #session_cible {
	margin-left:25px;
}
.information_kp{
	font-family:arial;
	width:270px;
	height:50px;
	margin-left:20px;
	margin-right:20px;
	padding: 10px 0px;
	line-height:50px;
	text-align:center;
	font-size:x-large;
	color:#706d59;
	border-bottom:1px solid #a4a084;
}
.information_kp img{
	vertical-align:middle;
	margin-left:5px;
}
.jeux_regles{
	width:270px;
	margin-left:20px;
	color:#a09d7d;
}
.jeux_regles h4{
	float:left;
	color:#949174;
	width:20px;
	border-bottom:1px solid #a4a084;
}
.jeux_regles img{
	margin-left:50px;
	margin-top:5px;
}
.jeux_regles p{
	font-size:0.8em;
	line-height:20px;
}




.mask_jeux{
	opacity:0;
	-webkite-opacity:0;
	-moz-opacity:0;
	-o-opacity:0;
	-ms-opacity:0;
	position:relative;
	width:310px;
	height:180px;
	background-color: rgba(173, 195, 202, 0.8);
	transition:all 0.5s;
}
.menu_index:hover .mask_jeux{ /* ON CIBLE LE PARENT ET L'ENFANT PREND CHANGE */
	opacity:1;
	-webkite-opacity:1;
	-moz-opacity:1;
	-o-opacity:1;
	-ms-opacity:1;
}
.entrainement{
	float:left;
	width:310px;
	height:82px;
	line-height:82px;
	text-align:center;
	border-bottom:8px solid #3f5e69;
	margin-top:0px;
	color:#334b54;
	font-size:1.1em;
	transition:all 0.4s;
}
.entrainement:hover, .entrainement:active, .tournoi_co:hover, .tournoi_co:active{
	background-color: rgba(255, 255, 255, 0.6);
}
.tournoi_co, .tournoi_deco{
	float:left;
	width:310px;
	height:82px;
	line-height:82px;
	text-align:center;
	border-top:8px solid #3f5e69;
	margin-top:0px;
	color:#334b54;
	font-size:1.1em;
	transition:all 0.4s;
}
.tournoi_co{
	opacity:1;
}
.tournoi_deco{
	opacity:1;
}
.tournoi_co img, .tournoi_deco img{

}
.tournoi_co span, .tournoi_deco span{
	margin-left:10px;
}
/* -------------------------------------------------------------------------- */
/* RECHERCHE */
#recherche_bloc_intro{
	width:865px;
	height:50px;
	margin:auto;
	position:relative;
	top:30px;
	border-bottom:1px dashed white;
}
#recherche_intro1{
	float:left;
	width:400px;
	height:40px;
	line-height:40px;
}
#recherche_input{
	/* WIDTH DANS LE HTML */
	height:15px;
	width:153px;
	color: grey;
	border:1px solid #25373d;
}
#recherche_intro2{
	float:right;
	width:300px;
	height:40px;
	line-height:40px;
	text-align:right;
}
.bloc_recherche, .bloc_demande, .recherche_message{
	float:left;
	width:250px;
	height:105px;
	border:1px solid white;
	margin-top:50px;
	margin-left:57.5px;
	background-color:#b3c3a8;
	overflow:hidden;
	border-bottom:5px solid #7a8572;
	border-top:none;
	border-left:none;
	border-right:none;
}
.recherche_bloc1, .demande_bloc1{
	float:left;
	width:105px;
	height:105px;
	border-right:1px dashed grey;
}
.recherche_bloc1 img{
	margin-left:30px;
	margin-top:10px;
}
.recherche_bloc1 p, .recherche_bloc1 a{
	margin-top:3px;
	float:left;
	width:105px;
	font-size:small;
	word-wrap:break-word;
	text-align:center;
	color:#706d59;
	line-height:17px;
}
.recherche_bloc1 a{
	color:#434135;
}
.recherche_bloc1 a:hover{
	text-decoration:underline;
}
.recherche_bloc2,.demande_bloc2{
	float:left;
	width:73px;
	height:120px;
	padding-left:5px;
	padding-right:5px;
	font-size:small;
	word-wrap:break-word;
	text-align:center;
}
.recherche_bloc3,.recherche_bloc5, .recherche_bloc7, .recherche_bloc8, 
.recherche_bloc_supprimer,.recherche_bloc4,.recherche_bloc6{
	float:left;
	width:35px;
	height:35px;
}
.recherche_bloc_supprimer{
	background-image:url(images/supprimer_petit.png);
}
.recherche_bloc_supprimer{
	background-color:#ff7e7e;
}
.recherche_defis1, .recherche_defis2{
	float:right;
	width:35px;
	height:35px;
	margin-right:55px;
	margin-top:15px;
}
.recherche_defis1{
	background:url(images/icone_defis_rouge.png) 0px -35px;
	transition:transform 0.5s;
}
.recherche_defis1:hover{
	transform: rotate(20deg);
}
.recherche_defis2{
	background:url(images/icone_defis_rouge.png) 0px 0px;
}
.recherche_bloc3,.recherche_bloc5{
	background:url(images/recherche_ajouter.png) 0;
	transition:transform 0.5s;
	margin-left:20px;
}
.recherche_bloc3:hover,.recherche_bloc5:hover,.recherche_bloc4:hover{
	transform: rotate(20deg);
}
.recherche_bloc3, .recherche_bloc4, .recherche_bloc8, .recherche_bloc7{
	margin-top:5px;
}
.recherche_bloc4{
	background:url(images/recherche_message.png) 0;
	transition:transform 0.5s;
	margin-left:35px;
}
.recherche_bloc7{
	background-image:url(images/recherche_attente.png);
	margin-left:20px;
}
.recherche_bloc8{
	background-image:url(images/recherche_ami.png);
	margin-left:20px;
}
#recherche_aucun{
	margin-left:57.5px;
	margin-top:80px;
}






.recherche_message p
{
text-align:center;
border-bottom:1px dashed white;
padding-bottom:5px;
padding-top:5px;
margin-top:0px;
overflow: hidden;
text-overflow: ellipsis;
-o-text-overflow: ellipsis; /* pour Opera 9 */
white-space: nowrap;
}
.recherche_message a
{
color:grey;
}
.recherche_message a:hover, .recherche_message a:active
{
color:#2c2c2c;
}
.recherche_message textarea
{
width:250px;
height:35px;
margin-left:25px;
color:grey;
}
.recherche_message input
{
cursor:pointer;
width:256px;
margin-left:25px;
background-color:#86c4d1;
color:white;
border:1px solid #448593;
}
.recherche_message input:hover, .recherche_message input:active
{
background-color:#448593;
}
/* FICHIER PAGINATION */
.contient_pagination{
	width:610px;
	clear:left;
}
.nombre_page{
	text-align:center;
	font-weight:bolder;
	font-family:arial;
	margin-top:30px;
}
.numero_page, .numero_page2{
	padding:5px;
	border:1px solid #102c3;
	background-color: rgba(0, 0, 0, 0.2);
}
.numero_page:hover,.numero_page:active, .numero_page2{
	background-color: rgba(0, 0, 0, 0.4);
	color:white;
}